.env
logs/
*.log
.DS_Store
Thumbs.db
*.pem
*.lic
**/*private*
bin/
management/backend/bin/
management/frontend/node_modules/
management/frontend/dist/
conf/api.yaml
conf/tls/
conf/license/
data/
*.exe
.idea/
.vscode/
